:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-bg-color: white;
    --portfolio-filter-accent-color: #404BBF;
    --portfolio-filter-bg-color: #F4F4FD;
}
body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.accent{
    color: var(--accent-color);
}
.logo{
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}

/*-------------------------- Site nav */
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration-line: none;
} 
.site-nav .link:focus,
.site-nav .link:hover{
    color: var(--primary-text-color);    
}
.site-nav .link:active{
    color: var(--accent-color);
}

/* ---------------------------Contakts */
.adress .contakts{
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}
.adress .contakts:hover,
.adress .contakts:focus{ 
    color: var(--accent-color);
} 

/*--------------------------Hero  */
.hero-title{
    background-color: var(--title-text-color);
    color: white;
}
/* -------------------------Section */
.section-title{
    color: var(--title-text-color);
}
/* --------------------------Feature */
.feature-list .title{
    color: var(--title-text-color);
}
/* --------------------------Button */
.button{
    background-color: var(--accent-color);
    color: white;
}
/* --------------------------Portfolio - Filter - Button */
.filter{
    background-color: var(--portfolio-filter-bg-color);
    color: var(--portfolio-filter-accent-color);
}
.filter:hover,
.filter:focus{
    background-color: var(--portfolio-filter-accent-color);
    color: white;
}