body{
    background-color: white;
    color: #434455;
}
.logo{
    color: #2E2F42;
}
.logo:hover,
.logo:focus{
    color: red;
}
.accent{
    color: #4D5AE5;
}
.list{
    list-style: none;
}

/*-------------------------- Site nav */
.site-nav .link{
    color: #2E2F42;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: red;
}
/*--------------------------Hero  */
.hero-title{
    color: aqua;
}
/* -------------------------Section */
.section-title{
    color: #2E2F42;
}