:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primary-bg-color: white;
}
body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.logo{
    color: var(--title-text-color);
}
.logo:hover,
.logo:focus{
    color: red;
}
.accent{
    color: var(--accent-color);
}
.list{
    list-style: none;
}

/*-------------------------- Site nav */
.site-nav .link{
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: red;
}
/*--------------------------Hero  */
.hero-title{
    background-color: var(--title-text-color);
    color: white;
}
/* -------------------------Section */
.section-title{
    color: var(--title-text-color);
}
/* --------------------------Feature */
.feature-list .title{
    color: var(--title-text-color);
}
/* --------------------------Button */
.button{
    background-color: var(--accent-color);
    color: white;
}